<mat-tab-group>
    <mat-tab class="tab-tab" label="ที่เทียวยอดนิยม">
        <p style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab aliquam hic dolor in
            repudiandae totam, quo
            pariatur cupiditate placeat delectus obcaecati quis nostrum eaque adipisci corporis possimus consequatur,
            nemo neque.</p>
    </mat-tab>
    <mat-tab class="tab-tab" label="ร้านอาหารโดนใจ">
        <p style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab aliquam hic dolor in
            repudiandae totam, quo
            pariatur cupiditate placeat delectus obcaecati quis nostrum eaque adipisci corporis possimus consequatur,
            nemo neque.</p>
    </mat-tab>
    <mat-tab class="tab-tab" label="ที่พัก">
        <p style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab aliquam hic dolor in
            repudiandae totam, quo
            pariatur cupiditate placeat delectus obcaecati quis nostrum eaque adipisci corporis possimus consequatur,
            nemo neque.</p>
    </mat-tab>
</mat-tab-group>