mat-toolbar button {
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    background: none;
    color: black;
}

h1 {
    color: white;
    font-weight: bold;
    align-items: center;
    font-size: 2em;
    padding: 0.5em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

mat-toolbar {
    background-color: rgb(255, 136, 0);
}

.photo-button {
    width: 100px;
    /* หรือขนาดเดียวกับปุ่ม */
    height: 100px;
    /* หรือขนาดเดียวกับปุ่ม */
    object-fit: contain;
    /* ป้องกันภาพบิดเบี้ยว */
}

mat-toolbar button.active:not(.home-button) {
    color: aqua;
}

mat-toolbar button.active:not(.home-button) {
    border-bottom: 0.15em solid skyblue;
}

mat-toolbar .home-button {
    font-size: xx-large;
    color: cadetblue;
}

.photo-button {
    width: 100px;
    height: 100px;
    object-fit: contain;
}