mat-toolbar button {
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    background: none;
    color: black;
}

mat-toolbar {
    background-color: rgb(255, 136, 0);
}

img {
    width: 50px;
    height: 50px;
}

mat-toolbar button.active:not(.home-button) {
    color: aqua;
}

mat-toolbar button.active:not(.home-button) {
    border-bottom: 0.15em solid skyblue;
}

mat-toolbar .home-button {
    font-size: xx-large;
    color: cadetblue;
}