<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>login</span>
        </button>
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>register</span>
        </button>
        <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>logout</span>
        </button>
    </mat-menu>

    <span class="my-spacer"></span>
    <h1>KORATGOTO</h1>
    <span class="my-spacer"></span>

    <button mat-raised-button routerLink="/map" routerLinkActive="active">
        <mat-icon>map</mat-icon>
        <span> Map</span>
    </button>

    <button mat-raised-button routerLink="/" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span> Home</span>
    </button>
</mat-toolbar>