<mat-toolbar>
    <button class="home-button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img class="photo-button" src="../Screenshot_2024-12-11_223517-removebg-preview.png" alt=""> </button>

        <span class="my-spacer"></span>
        <h1>KORATGOTO</h1>
    <span class="my-spacer"></span>
    <button mat-raised-button  routerLink="/map" routerLinkActive="active">
        <mat-icon>map</mat-icon>
        <span> Map</span>
    </button>

<button mat-raised-button routerLink="/" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span> Home</span>
    </button>
</mat-toolbar>